@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
body {
  background-color: #131313;
  margin: 0;
}
.header {
  height: 60px;
  border-bottom: 1px solid #272727;
  padding-top: 15px;
  padding-left: 0%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.num {
  border-left: 1px solid #272727;
  font-family: Montserrat;
  font-style: normal;
  font-size: 25px;
  line-height: 40px;
  color: #ffffff;
  padding-left: 10px;
}
ul {
  list-style: none;
  margin: 0;
  padding-left: 70px;
}
li {
  display: inline;
}
.navdecor {
  color: #ffffff;
  padding: 20px;
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}
.wall {
  position: absolute;
  width: 1305px;
  height: 746px;
  left: 750px;
  top: 14px;
  padding: 0;
  background-image: url("./img/Стена.svg");
  opacity: 0.5;
}
table {
  width: 1294px;
  height: 605px;
  position: absolute;
  left: 800px;
  top: 340px;
  background-color: #131313;
}
tbody {
  position: absolute;
  width: 1294px;
  height: 705px;
  border-collapse: collapse;
}
h2 {
  color: #ffffff;
  height: 41px;
  margin-left: 820px;
  margin-top: 170px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 60px;
}
td {
  color: #727272;
  border: 1px solid #272727;
  font-size: 30px;
  padding: 10px 50px 10px 20px;
}
th {
  color: #727272;
  font-size: 21px;
  padding: 10px 80px 0px 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
}
.pagination {
  top: 980px;
  left: 1100px;
  position: absolute;
}
